# Enforce LF for text files
* text=auto

# Specific rules for certain file types
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ini text eol=lf
*.md text eol=lf

# Binary files should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
